fastapi>=0.100.0
uvicorn[standard]>=0.20.0
pydantic>=2.0.0
python-dotenv>=1.0.0
google-generativeai
langchain-google-genai
langchain>=0.1.0
langchain-community>=0.0.1
langchain-pinecone # <--- ASEGÚRATE QUE ESTA LÍNEA ESTÉ PRESENTE
pinecone-client>=4.0.0 # Nombre correcto del paquete para Pinecone v3+
pyreadline3>=3.4.1 # Solo para Windows, opcional en otros SO
firebase-admin>=6.0.0
httpx>=0.24.0
PyMuPDF # Para 'import fitz'
# faiss-cpu # Descomenta si lo estás usando activamente para otra cosa
numpy
python-multipart
langchain-openai>=0.1.0 # Si lo usas para alguna funcionalidad específica de OpenAI.

# Google Forms API
google-auth>=2.22.0
google-auth-oauthlib>=1.0.0
google-auth-httplib2>=0.1.0
google-api-python-client>=2.95.0
